.categories-container {
  display: flex;
  flex-wrap: wrap;        /* Mobile view ke liye wrap */
  gap: 25px;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 180px;
  transition: transform 0.3s ease;
}

.category-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 4px solid #1b1a1a; */
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}

.category-card img:hover {
  transform: scale(1.15);
}

.category-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.category-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
  color: #3b4344;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}