.back-button {
  background-color: #111; 
  color: #fff;            
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #e50914; 
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.hero-container { 
    background-image: url("./assets/men-hero.jpg");
  display: flex;
  flex-direction: column;
  padding: 60px 5% 30px;
  height: 60vh;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}
.hero-content p {
  font-size: 1.5rem;
  margin: 10px 0;
}


/*  */

.hero-image img {
  max-width: 100%;
}
.hero-btn {
  background-color: #e91e63;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  text-align: center;
  
}