
 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 background-color: rgb(71, 144, 180);
  color: white;
  padding: 5px 20px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  height: 60px;
  width: auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  color: white;
}

.nav-links a {
  color: rgb(165, 15, 15);
  text-decoration: none;
  font-size: 16px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

.search-bar {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}


.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: #222;
  color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  z-index: 1000;
  transition: 0.3s ease-in-out;
}

.close-icon {
  font-size: 22px;
  float: right;
  cursor: pointer;
}

.sidebar h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a, .sidebar ul li button {
  color: white;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  width: 100%;
} 
