
.hero {
  height: 60vh;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
}
.category-title {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
  color: #333;
}
/* Categories */
.categories {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
  
}

.categories div {
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

.categories div:hover {
  transform: scale(1.05);
}

.categories img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e91e63;
}

/* Product Section */
.product-section {
  padding: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 230px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
}

.product-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 5px;
}

.product-card h4 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.product-card p {
  font-size: 1rem;
  color: #e91e63;
  font-weight: bold;
}
